@CHARSET "UTF-8";

.closeIconClass{
	height: 30px;
	width:  30px;
	cursor: pointer
}
.nextButton{
	position: relative;
	display: inline-block;
	cursor: pointer
}
.backButton{
	position: relative;
	display: inline-block;
	cursor: pointer
}
.position{
	position: relative;
	left: 0.5%;
}
.newWindow{
	position: relative;
	display: inline-block;
	height: 37px;
	width: 38px;
	cursor: pointer
}

.email{
	position: relative;
	display: inline-block;
	height: 35px;
	width: 49px;
	cursor: pointer
}

.tableClass{
	overflow:hidden; 
	white-space: nowrap;
}

.mainTable{
	width: 1%;
	cursor: pointer;
}

.searchField{
	height: 6%;
	width: 100%;
	margin-top: 6px;
	cursor: pointer;
}
.searchButton{
	position: relative;
	display: inline-block;
	height: 39px;
	width: 39px;
	cursor: pointer
}